table, tr {
    border-top: 1px solid #495E6F;
    border-bottom: 1px solid #495E6F;
    border-collapse: collapse;
    padding: 10px;
}
td{
    border-collapse: collapse;
    padding: 10px;
}
.productList{
    max-width: 700px;
    margin: 0 auto;
}
.productList table{
    width: 100%;
}
.productList table td input {
    border: 0;
    outline: 0;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 1px 5px;
}
.productList thead {
    background-color: #364652;
    color: #C4FDFC;
}
